<h1>Edit Task</h1>

<%= form_with(model: @task, local: true) do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :details %>
    <%= form.text_area :details %>
  </div>
  <div>
    <%= form.label :completed %>
    <%= form.check_box :completed %>
  </div>
  <div>
    <%= form.submit 'Mettre à jour', class: 'btn btn-primary mb-3 mt-1' %>
  </div>
<% end %>

<%= link_to tasks_path, class: 'btn btn-secondary' do %>
  <i class="fa fa-history"></i> Back to list
<% end %>
